.card-list{
    width: 22rem;
    border-radius: 0.8rem;
    background-color: var(--clear);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.60);
    margin: 3rem 3rem 0;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
}

.card-list-1{
    position: absolute;
    align-self: center;
}

.card-list-2{
    display: none;
}