.header__main-text{
    left: 0;
    right: 0;
    top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}


@media only screen and (min-width: 670px){
    .header__main-text{
        top: 16rem;
    }
}

@media only screen and (min-width: 1080px){
    .header__main-text{
        top: 16rem;
    }
}

@media only screen and (min-width: 1280px){
    .header__main-text{
        top: 16rem;
    }
}