.header__img-background{
    height: 101%;
    width: auto;
}



@media only screen and (min-width: 670px){
    .header__img-background{
        height: 105%;
        width: auto;
    }
}


@media only screen and (min-width: 1280px){
    .header__img-background{
        width: 100%;
        height: auto;
        align-self: center;
    }
}