.img-background{
    height: 101%;
    width: auto;
}



@media only screen and (min-width: 670px){
    .img-background{
        height: 100%;
        width: auto;
    }
}

@media only screen and (min-width: 1080px){
    .img-background{
        width: 100%;
        height: auto;
    }
}