.main-text__subtitle{
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    color: var(--clear);
    text-align: center;
    text-shadow: 0px 0px 4px var(--dark);
}



@media only screen and (min-width: 770px){
    .main-text__subtitle{
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1024px){
    .main-text__subtitle{
        font-size: 1.4rem;
    }
}