.text-section{
    font-family: var(--font-primary);
    font-size: 1rem;
    color: var(--dark);
    font-weight: 300;
    text-align: center;
    padding: 1.5rem 0 4rem;
}

.text-section--clear{
    color: var(--clear);
}