.text-section{
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--dark);
    text-align: center;
    padding: 0 10%;
    box-sizing: border-box;
    line-height: 1.2rem;
    margin: 1rem 0 3rem 0;
}



@media only screen and (min-width: 770px){
    .text-section{
        padding: 0 16%;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
}

@media only screen and (min-width: 1080px){
    .text-section{
        padding: 0 18%;
    }
}