.text-section{
    font-family: var(--font-primary);
    font-size: 1.1rem;
    color: var(--dark);
    font-weight: 300;
    text-align: center;
    padding: 1.5rem 0 4rem;
    line-height: 1.5rem;
}

.text-section--clear{
    color: var(--clear);
}



@media only screen and (min-width: 1024px){
    .text-section{
        font-size: 1.2rem;
    }
}