.title-section{
    font-family: var(--font-titles);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--dark);
    text-align: center;
    letter-spacing: 0.05rem;
    margin: 2rem 1rem;
}

.title-section--lower{
    text-transform: lowercase;
}

.title-section--clear{
    color: var(--clear);
    letter-spacing: 0.1rem;
}

@media only screen and (min-width: 770px){
    .title-section{
        font-size: rem;
    }
}

@media only screen and (min-width: 1024px){
    .title-section{
        font-size: rem;
    }
}