.waves1{
    height: 90%;
}

.waves2{
    width: 100vw;
}

.waves3{
    width: 100vw;
}

.waves4{
    width: 100vw;
}


@media only screen and (min-width: 1024px){
    .waves1{
        width: 100vw;
    }

    .waves2{
        width: 100vw;
    }
}