.banner1{
    width: 100%;
    height: auto;
    padding: 0 10%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 770px){
    .banner1{
        padding: 0 15%;
    }
}

@media only screen and (min-width: 1024px){
    .banner1{
        height: auto;
        padding: 0 20%;
    }
}