.body3{
    font-family: var(--font-secondary);
    padding: 5rem 10rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

h3{
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

p{
    font-size: 1rem;
    margin: 1.5rem;
}

li{
    list-style-type: circle;
    margin-left: 2rem;
}