.contacto{
    width: 100%;
    padding: 0 10%;
    background-color: var(--primary);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 770px){
    .contacto{
        padding: 0 15%;
    }
}

@media only screen and (min-width: 1024px){
    .contacto{
        height: auto;
        padding: 0 20%;
    }
}