.header__nav{
    width: 100%;
    background-image: linear-gradient(var(--dark), trasparent);;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 3;
}



@media only screen and (min-width: 670px) {
    .header__nav{
        padding: 1rem 4rem;
        flex-direction: row;
        justify-content: space-between;
    }  
}

@media only screen and (min-width: 1080px) {
    .header__nav{
        padding: 1rem 10rem;
    }  
}