.header{
    height: 50rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}



@media only screen and (min-width: 670px){
    .header{
        height: 60rem;
    }
}

@media only screen and (min-width: 1080px){
    .header{
        height: 38rem;
    }
}

